h1{
    text-align: center;
}

#grid {
    margin: 0px auto;
    border-collapse: collapse;
}

#grid_body > tr > td {
    padding: 15px;
    border: 1px black solid;
}
#contener {
    margin: 0px auto;
    text-align: center;
}
#play_button {
    width: 0%;
    border: none;
    background: none;
    text-decoration: none;
}