@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
}

html, body {
    height: 100%;
    background-color: #20534D;
    font-family: 'Press Start 2P';
    color: #00fad9;
    width: 100%;
}

h1{
    margin-top: 25px;
    text-align: center;
    font-size: 45px;
}

#score {
    margin-top: 10px;
    font-size: 12px;
}

#grid {
    margin: 15px auto;
    border-collapse: collapse;
}

main {
    min-height:100%;
    margin-bottom: -100px;
    margin: 25px auto;
    text-align: center;
}

#contener-buttons {
    height: 45px;
    width: 160px;
    background-color: #00BFA5;
    border: 3px solid black;
    border-radius: 10px;
    margin: 0 auto;
}

.buttons {
    margin: 13px auto;
    display: inline-block;
    width: 0%;
    border: none;
    background: none;
    text-decoration: none;
    color: #20534D;
}


#reload_button {
    margin-left: -25px;
    display: none;
}

#play_button {
    display: inline-block;
    margin-left: -15px;
}

#win {
    margin-top: 25px;
    display: none;
}

main:after  {
    content: "";
    display: block;
}

footer, main:after {
    height: 100px;
}

footer {
    width: 100%;
    color: #00BFA5;
    background-color: rgb(44, 44, 44);
}

#contener-footer {
    text-align: center;
    line-height: 45px;
}

#contener-footer > ul {
    margin-top: 25px;
}

#contener-footer > ul > li  {
    list-style: none;
}

#contener-footer > ul > li > a {
    text-decoration: none;
    color: #00BFA5;
}

#contener-mobile-buttons {
    display: none;
}

#grid_body > tr > td {
    padding: 50px;
    border: 1px #261c6d solid;
}

#contener-mobile-buttons {
    margin: 25px auto;
}

#contener-mobile-buttons > div {
    margin-bottom: 15px;
}

.mobile-buttons {
    display: none;
}

/*----MOBILE----*/

@media only screen and (max-width: 1280px) {

    h1 {
        font-size: 80px;
    }

    #contener-mobile-buttons {
        margin-top: 200px;
    }
    .mobile-buttons {
        height: 150px;
        width: 150px;
        border: none;
        border-radius: 5px;
        background-color: #00BFA5;
        color: #20534D;
        display: inline;
    }    
    


    #score {
        margin-top: 10px;
        font-size: 12px;
    }

    #win {
        font-size: 15px;
    }
    
    #grid_body > tr > td {
        padding: 24px;
    }
}